<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Games-Overview</title>
</h:head>
<h:outputStylesheet library="css" name="pipelineOptimization.css"/>

<h:body>
    <h1>Games Overview</h1>
    <ui:include src="/jsf/sections/game/gamesOverviewSection.xhtml"/>
</h:body>
</html>