/** DataTable Component Style **/
.ui-datatable {
    width: 80%;
}

.ui-datatable-header {
    margin-bottom: 8px;
    border-top: #000e36 solid 1px !important;
    border-bottom: #000e36 solid 1px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.ui-datatable thead th.ui-state-default {
    border-bottom-color: #003f9a !important;
}

.ui-datatable thead th {
    color: #444444 !important;
    font-size: 16px;
    border-right: solid 1px #003f9a !important;
}

.ui-datatable-data > tr {
    font-family: ArialMT;
    font-size: 16px;
    color: #444444 !important;
    border-right: solid 1px #003f9a !important;
}

.ui-widget-content {
    border: 1px solid #003f9a;
    background: #fff;
    color: #444444;
}

/** Accordion Component Style **/

.ui-accordion {
    background: #E5E3DD;
    width: 80%;
    border: 1px solid #003f9a;
}

.ui-accordion-content {
    font-family: ArialMT;
    font-size: 12px;
    color: #444444;
    line-height: 16px;
    background: #FFFFFF;
    border: 1px solid #003f9a;

}

.ui-accordion-header.ui-state-active {
    font-size: 16px;
    color: #444444 !important;
    line-height: 18px;
    background: #e3e3e3 !important;
}

.ui-accordion-header.ui-state-default {
    font-size: 16px;
    color: #444444 !important;
    line-height: 18px;
    background: #e3e3e3 !important;
}

/** Radio Button Style */

.ui-radiobutton-box {
    background: #FFFFFF !important;
    border: 1px solid #003f9a !important;
    min-height: 16px;
    min-width: 16px;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 0px 0px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: #003f9a;
}

.ui-radiobutton > .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background-color: #444444;
}

.ui-radiobutton > .ui-radiobutton-box.ui-state-active {
    border-color: #003f9a;
    background-color: #FFFFFF;
    color: #666666;
}

.ui-button {
    font-size: 16px !important;
    border: 1px solid #003f9a !important;
    background: #444444 !important;
    color: #FFFFFF !important;
    min-height: 16px;
    min-width: 112px;
    margin-right: 0em !important
}
