<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <h:panelGrid columns="2">
        <h:commandButton action="#{controller[cancelAction]}" value="#{msg.rb_common_button_cancel}"/>
        <h:commandButton action="#{controller[saveAction]}" value="#{msg.rb_common_button_save}"/>
    </h:panelGrid>

</ui:composition>
