<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:form id="engineForm">
    <p:panel header="#{messages['engine.accordion.title']}">
        <p:accordionPanel id="engineAccordion" multiple="true" widgetVar="multiple"
                          var="engineInfo"
                          value="#{engineController.dataInput}">
            <p:tab title="#{engineInfo.engineName}">
                <h:outputText value="#{engineInfo.releasedGames}"/>
            </p:tab>
        </p:accordionPanel>
    </p:panel>

    <p:panel>
        <p:dataTable id="expansionTable" var="expansion" widgetVar="wowExpansionsList"
                     value="#{engineController.wowExpansionsList}">
            <p:column headerText="Expansion">
                <h:outputText value="#{expansion.expansion}"/>
            </p:column>
            <p:column headerText="Release">
                <h:outputText value="#{expansion.release}"/>
            </p:column>
            <p:column headerText="Type">
                <h:outputText value="#{expansion.expansionType}"/>
            </p:column>
        </p:dataTable>
    </p:panel>
</h:form>
</html>