<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<h:head>
    <title>Welcome</title>
</h:head>
<h:body>
    <h2>Welcome! Please select the Page you want to go</h2>

    <h:form id="welcomeForm">
        <h:commandButton action="#{navigationController.processPage1}" id="informationBtn"
                         value="#{messages['welcome.page.link.engine.information']}"/>
        <h:commandButton action="#{navigationController.processPage2}" id="overviewBtn"
                         value="#{messages['welcome.page.link.game.overview']}"/>
    </h:form>

</h:body>

</html>