<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:form id="gamesForm">
    <p:panel header="Overview of all listed Games">
        <p:panelGrid columns="1">
            <p:dataTable id="gamesTable" var="singleGame"
                         value="#{gamesController.rowDataInput}"
                         rowKey="#{singleGame.gameName}">
                <p:column headerText="Name">
                    <h:outputText value="#{singleGame.gameName}"/>
                </p:column>
                <p:column headerText="Genre">
                    <h:outputText value="#{singleGame.genre}"/>
                </p:column>
                <p:column headerText="Platform">
                    <p:selectOneMenu id="selectPlatformMenu" value="#{singleGame.selectedPlatform}">
                        <f:selectItems value="#{gamesController.getPlatformsString(singleGame.platform)}"
                                       var="selectedPlatform" itemValue="#{selectedPlatform}"
                                       itemLabel="#{selectedPlatform}"/>
                    </p:selectOneMenu>
                </p:column>
                <p:column headerText="Developer">
                    <h:outputText value="#{singleGame.developer}"/>
                </p:column>
                <p:column headerText="Release">
                    <h:outputText value="#{singleGame.release}"/>
                </p:column>
                <p:column headerText="select" width="8%">
                    <p:selectBooleanCheckbox id="selectionCheckBox" value="#{singleGame.selected}">

                    </p:selectBooleanCheckbox>
                </p:column>
            </p:dataTable>
            <p:commandButton id="btnSubmit" value="submit your selection"
                             action="#{gamesController.showMsgGameSelectionSubmitted}"
                             update="gamesForm:messages"/>
            <h:outputText value="Current Time:"/>
            <h:outputText value="#{gamesController.localDateTimeString}"/>

        </p:panelGrid>
    </p:panel>

    <p:messages id="messages" showDetail="true" closable="true">
        <p:autoUpdate/>
    </p:messages>

</h:form>

</html>
