<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
    <title>Engine-Knowledge</title>
</h:head>
<h:outputStylesheet library="css" name="pipelineOptimization.css"/>
<h:body>
    <h1>Engines Overview</h1>
    <ui:include src="/jsf/sections/engine/engineKnowledgeSection.xhtml"/>
</h:body>
</html>